@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li> @Html.ActionLink("Всички филми", "List", "Movie")</li>
        @if (User.IsInRole("Admin"))
        {
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Админ<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">              
                    <li>@Html.ActionLink("Добави филм", "Create", "Movie")</li>
                    <li>@Html.ActionLink("Актьори", "List", "Actor")</li>
                    <li>@Html.ActionLink("Режисьори", "List", "Director")</li>
                    <li>@Html.ActionLink("Жанрове", "List", "Genre")</li>
                    <li>@Html.ActionLink("Студиа", "List", "Studio")</li>
                </ul>
            </li>
        }
      
        <li>
            @Html.ActionLink("Настройки", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Излез</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Всички филми", "Index", "Movie", new { area = "" })</li>
        
        <li>@Html.ActionLink("Вход", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})</li>
    </ul>
}
