@model Movies.Models.Director
@{
    ViewBag.Title = "Редактиране на режисьор";
}

<div class="container">
    <div class="well">
        <h2>Редактирай режисьор</h2>
        @using (Html.BeginForm("Edit", "Director", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.FirstName, new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.LastName, new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Born, new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    
                    @Html.TextBoxFor(m => m.Born, "{0:yyyy-MM-dd}", new { type="date", @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.HomeTown, new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.HomeTown, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-4">
                    @Html.ActionLink("Назад", "List", "Director", new { @class = "btn btn-default" })
                    <input type="submit" value="Редактирай" class="btn btn-success" />
                </div>
            </div>
        }
    </div>
</div>