@model Movies.Models.MovieViewModel

@{
    ViewBag.Title = "Edit";
}

<div class="container">
    <div class="well">
        <h2>Редактирай филм</h2>
        @using (Html.BeginForm("Edit", "Movie", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            @Html.HiddenFor(m => m.Id)
           

            <div class="form-group">
                @Html.LabelFor(m => m.Title, new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Plot, new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.TextAreaFor(m => m.Plot, new { @class = "form-control", @rows = "7" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Rating, new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.Rating, new { @class = "form-control"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ReleaseDate, new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    
                    @Html.TextBoxFor(m => m.ReleaseDate, "{0:yyyy-MM-dd}", new { type="date", @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Country, new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.Country, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.DirectorId, new { @class = "control-label col-sm-4" })
                <div class="col-md-4">
                    @Html.DropDownListFor(m => m.DirectorId, Model.AllDirectors, new {@class = "form-control"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.StudioId, new { @class = "control-label col-sm-4" })
                <div class="col-md-4">
                    @Html.DropDownListFor(m => m.StudioId, Model.AllStudios, new {@class = "form-control"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.AllGenres, new { @class = "control-label col-sm-4" })
                <div class="col-md-4">
                    @Html.ListBoxFor(m => m.SelectedGenres, Model.AllGenres, new {@class = "form-control"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.AllActors, new { @class = "control-label col-sm-4" })
                <div class="col-md-4">
                    @Html.ListBoxFor(m => m.SelectedActors, Model.AllActors, new { @class = "form-control" })
                </div>
            </div>



            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-4">
                    @Html.ActionLink("Cancel", "Index", "Movie", null, new { @class = "btn btn-default" })
                    <input type="submit" value="Edit" class="btn btn-success" />
                </div>
            </div>
        }
    </div>
</div>